.addthotcontainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1e1e1e;
    padding: 39px;
    border-radius: 12px;
    width: 800px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap:10px;
}
.titleinput{
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #ffffff;
    border-radius: 6px;
    border-color: #5c5c5c;
    color: white;
   transition:border-color 0.2s ease;
}
.titleinput:focus{
    outline: none;
    border-color: #5e0000;
}
.describeinput{
height: 100px;
resize: none;
border-color: #5c5c5c;
}
.describeinput:focus{
    border-color:#5e0000;
    outline: none;
}

.submit-button{
    background-color: #ff0000;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
.submit-button:hover{
    background-color: #5e0000;
}