.signin-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #1e1e1e;
    padding: 39px;
    border-radius: 12px;
    width: 310px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    gap:10px;
}

.signin-container h3 {
    font-size: 16px;
}

input {
    padding: 10px;
    background-color: #2b2b2b;
    border: 1px solid #ffffff;
    border-radius: 6px;
    color: white;
   transition:border-color 0.2s ease;
}

input:focus {
    outline: none;
    border-color: #910000;
    background-color: #333;
}

.submit-link {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    display: block;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.submit-link:hover {
    background-color: #cc0000;
}
.signup-link{
    text-decoration: none;
}
.signup-link:hover{
    text-decoration: underline;
}