.header1 {
    margin-top:50px;
    margin-bottom:10px;
    color:white;
}
.jj {
  background-image: url('../assets/logo1.jpg'); /* Adjust path */
  background-size:calc(1000);
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
}
.cl {
  display: inline-block;   /* So margin works properly */
  margin-top: 10px;        /* Moves the link down */
  padding: 6px 15px;
  border: 2px solid #1976D2;
  border-radius: 8px;
  color: #1976D2;
  text-decoration: none;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
