.buttons{
    display: flex;
}
.like1{
   margin-right:5px;
}

.comment1{
   margin-right:5px;
}

.p1 {
  margin-top:8px;
  margin-right:5px;
}

.p2 {
  margin-top:8px;
  margin-right:5px;
}

.thot{
  width: 800px;        
  height: 200px;     
  background-color: #f0f0f0; 
  padding:20px;   
  margin: 20px auto;  
  border-radius: 10px; 

}

.thot:hover{
  transform: translateY(5px);
} 